<div class="container mt-2">
    <div class="card bg-dark text-white">
        <div class="d-flex justify-content-between p-3">
            <div >
                <img class="img-fluid" src="https://i.postimg.cc/rzXmcqqz/quiz-neon-sign-1262-19629.webp" alt="failed to load image">

            </div>
            <div class="quiz-header">
                <h4 class="text-danger">Angular Quiz </h4>
                <span style="font-style: italic;">Welcome <h4 class="text-primary">{{name}}</h4></span>
            </div>
        </div>

<ng-container *ngIf="!isQuizcompleted">

    <div class="d-flex justify-content-around p-3">
        <div class="score">
            <h5> {{points}} points</h5>
        </div>
        <div class="question-remaining">
            <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}}</span>
        </div>
        <div class="timer">
            {{counter}} sec
        </div>

    </div>


    <div class="progress mb-4">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" [ngStyle]="{'width':progress+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="question">
        <div class="card"><h3 class="text-black text-center">{{questionList[currentQuestion]?.questionText}}</h3></div>
      </div>
      <div class="options">
        <ol *ngFor="let options of questionList[currentQuestion]?.options" class="text-white px-1 text-center">
            <li (click)="answer(currentQuestion+1,options)">
                <div appChangeBg [isCorrect]="options.correct"  class="card text-black m-1 px-1">
                    {{options.text}}</div>
            </li>
            
        </ol>
      </div>

      <div class="d-flex justify-content-between ">
       
        <button [disabled]="currentQuestion===0" (click)="previousQuestion()" class="btn btn-primary">previous</button>
        <button (click)="resetQuiz()" class="btn btn-primary">reset</button>
        <button [disabled]="currentQuestion === questionList.length-1" (click)="nextQuestion()" class="btn btn-primary">next</button>
      </div>
</ng-container>

<ng-container *ngIf="isQuizcompleted">
<div class="row d-flex justify-content-between">
    <img style="width:25%;" class="img-fluid col-sm-12 mx-auto" src="https://i.postimg.cc/SNyfb4tJ/54062669-3d-illustration-of-man-sitting-on-word-text-result-3d-rendering-of-human-people-character.webp" alt="">
    <div class="result text-left col-md-6 col-sm-12">
        <h3 class="text-center text-warning">Congratulations!! <br> You have completed the quiz. <br>Below is your result:</h3>
        <h5>Total questions attempted:  <span class="text-info"> {{questionList.length}}</span></h5>
        <h5>total correct answers:  <span class="text-success"> {{correctAnswer}}</span></h5>
        <h5>Total wrong answers:  <span class="text-danger"> {{inCorrectAnswer}}</span></h5>
        <h5>Your score:  <span class="text-success"> {{points}}</span></h5>
    </div>

</div>
</ng-container>

    </div>



</div>